@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #0f0f0f;
    color: #e0e0e0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.article-meta {
    text-align: center;
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.article-meta span {
    margin: 0 15px;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 450px;
    margin: 30px 0;
    box-shadow: 0 8px 20px rgba(97, 77, 77, 0.5);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.02);
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #cccccc;
    text-align: justify;
}

.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #0d6efd;
    border-radius: 6px;
    transition: 0.5s;
}

.back-btn:hover {
    background: #0b5ed7;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
    font-size: 0.9rem;
}


.heure{
    color: aliceblue;
   
}

.comment-count{
    color: white;
}